[Unit]
Description=Temperature Exporter
After=multi-user.target

[Service]
User=jostholm
ExecStart=/usr/bin/python /home/jostholm/prometheus-2.26.0.linux-armv7/temperature/temperature_exporter.py

[Install]
WantedBy=multi-user.target
